@namespace Final_project.ViewModels

@model HomeVM

@section css {
    <link rel="stylesheet" href="~/assets/css/service.css">
}

<title>RENAX</title>

<header>
    <section id="bckr-img" style="background-image: url('assets/image/services.jpg');">
        <div class="container">
            <div class="col-12">
                <div class="rent-area">
                    <div class="rent">
                        <p>WHAT WE DO</p>
                        <h1>Our Services</h1>
                    </div>
                </div>
            </div>
            <div class="cover"></div>
        </div>
    </section>
    <div class="line-section"></div>
</header>
<main>
    <section id="service-area">
        <div class="container">
            <div class="row">
                @foreach (var item in Model.Services)
                 {
                    <div class="col-4">
                        <div class="cart">
                            <div class="service-text">
                                <h5>@item.Name</h5>
                                <p>@item.Description</p>
                            </div>
                            <div class="arrow">
                                <div class="number">
                                    <a asp-controller="ServiceDetail" asp-action="Index" asp-route-id="@item.Id">
                                        <div class="item">
                                            <i class="fa-solid fa-arrow-right"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                 }
            </div>
        </div>
    </section>
    <section id="rent-now" style="background-image: url('assets/image/audi.jpg');">
        <div class="container">
            <div class="col-12">
                <div class="row">
                    <div class="rents-area">
                        <div class="rents">
                            <p>WHAT WE DO</p>
                            <h1>Book Auto Rental</h1>
                        </div>
                        <div style="display:flex; justify-content:center; align-items:center;">
                            <a class="button" asp-controller="Carlisting">
                                Rent Now <i class="fa-solid fa-arrow-right"></i>
                            </a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="cover"></div>
        </div>
    </section>
    <section id="service-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="rents-area">
                        <div class="rents">
                            <p>WHAT WE DO</p>
                            <h1>Other Services</h1>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="cart">
                        <div class="service-text">
                            <h5>Daily Car Rental</h5>
                            <p>
                                Lorem ipsum dolor sit amet the consectetur adipiscing elit entesque hendrerit elit
                                nisan lacinia feugiat nunc eu aucton.
                            </p>
                        </div>
                        <div class="arrow">
                            <div class="numbers">
                                <div class="num">01.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="cart">
                        <div class="service-text">
                            <h5>Monthly Car Rental</h5>
                            <p>
                                Lorem ipsum dolor sit amet the consectetur adipiscing elit entesque hendrerit elit
                                nisan lacinia feugiat nunc eu aucton.
                            </p>
                        </div>
                        <div class="arrow">
                            <div class="numbers">
                                <div class="num">02.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="cart">
                        <div class="service-text">
                            <h5>Annual Car Rental</h5>
                            <p>
                                Lorem ipsum dolor sit amet the consectetur adipiscing elit entesque hendrerit elit
                                nisan lacinia feugiat nunc eu aucton.
                            </p>
                        </div>
                        <div class="arrow">
                            <div class="numbers">
                                <div class="num">03.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>


@section js {
    <script src="~/assets/js/service.js"></script>
}