@namespace Final_project.ViewModels.VideoInfos

@model VideoInfoDetailVM

<div class="container mt-5">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">SubTitle</th>
                <th scope="col">CarName</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Title</td>
                <td>@Model.SubTitle</td>
                <td>@Model.Name</td>
                <td>@Model.Price</td>
            </tr>
        </tbody>
    </table>
    <a asp-action="Index" class="btn btn-primary text-white">Back</a>
</div>
