@namespace Final_project.ViewModels.VideoInfos

@model VideoInfoEditVM

<div class="container mt-5">

    <form class="form-sample" method="post" asp-action="Edit" enctype="multipart/form-data">
        <div class="form-group">
            <input asp-for="Title" type="text" class="form-control" maxlength="50" />
            <span class="text-danger" asp-validation-for="Title"></span>

            <input asp-for="SubTitle" type="text" class="form-control" maxlength="50" />
            <span class="text-danger" asp-validation-for="SubTitle"></span>

            <input asp-for="Name" type="text" class="form-control" maxlength="50" />
            <span class="text-danger" asp-validation-for="Name"></span>

            <input asp-for="Price" type="text" class="form-control" maxlength="50" />
            <span class="text-danger" asp-validation-for="Price"></span>
        </div>
        <button type="submit" class="btn btn-primary mr-2">Submit</button>
        <a asp-action="Index" class="btn btn-primary text-white">Back</a>
    </form>
</div>
