* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Font;
    src: url(../fonts/Outfit/Outfit-VariableFont_wght.ttf);
}

body {
    font-family: Font;
    background-color: #1b1b1b;

}

.modal-backdrop{
    display: none; 
}
#car-details{
    border-bottom: 1px solid #222;
}

.progress-wrap {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    display: block;
    border-radius: 50px;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    transition: all 400ms linear;
    -webkit-box-shadow: inset 0 0 0 0px rgba(217, 214, 209, 0.5);
    box-shadow: inset 0 0 0 0px rgba(217, 214, 209, 0.5);

    &::after {
        position: absolute;
        font-family: Themify;
        content: '\FF04';
        text-align: center;
        line-height: 50px;
        font-size: 12px;
        font-weight: normal;
        left: 0;
        top: 0;
        height: 50px;
        width: 50px;
        cursor: pointer;
        display: block;
        z-index: 1;
        -webkit-transition: all 400ms linear;
        -o-transition: all 400ms linear;
        transition: all 400ms linear;
        color: #91765a;
    }

    svg {
        path {
            fill: none;
        }
    }

    svg.progress-circle {
        path {
            stroke-width: 4;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-transition: all 400ms linear;
            -o-transition: all 400ms linear;
            transition: all 400ms linear;
            stroke: #91765a;
        }
    }
}

.progress-wrap.active-progress {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.my-container {
    width: 75%;
    margin: 0 auto
}

.cover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
    background: #000;
}

.navbar {
    position: absolute;
    left: 0;
    width: 100%;
    background: transparent;
    z-index: 9999;
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    height: 100px;
    border: none;
}

.nav-scroll {
    background: #222;
    padding: 0 0 0 0;
    position: fixed;
    top: -100px;
    left: 0;
    width: 100%;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    border: none;
    z-index: 13;
}

.navbar .logo-area {
    width: 130px;
    height: 18px;
}

.navbar .logo-area img {
    width: 100%;
    height: 100%;
}

.navbar .menu {
    display: flex;
    text-align: center;
    height: 18px;

}

.navbar .menu ul {
    display: flex;
    gap: 30px;
}

.navbar .menu ul li {
    list-style: none;
}


.navbar .menu a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    margin: 1px;
    -webkit-transition: all .4s;
    padding-right: 9px;
    padding-left: 9px;
    transition: all 0.5s;
}


.icon-nav {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border: 1px solid #f5b754;
    background-color: transparent;
    color: white;
    transition: all 0.5s;
}

.icon-nav:hover {
    background-color: #f5b754;
}

.call-us .text h6 {
    color: #fff;
    font-size: 14px;
    margin-bottom: 0px;
    font-weight: 700;
}

.call-us .text p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    margin-bottom: 0px;
}

#bckr-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 6;
}

.icon-nav:hover {
    background-color: #f5b754;
}

.navbar .menu a:hover {
    color: #f5b754;
}

.menu-area .icon:hover {
    background-color: #f5b754;
}

.text a:nth-child(1) {
    font-size: 14px;
}

.text a {

    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
}


/* header */


footer {
    height: 624px;
}

.footer-up {
    padding: 90px 0 0 0;
}


.center {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contact-area {
    border-radius: 20px;
    padding: 17px;
    background-color: transparent;
    border: 1px solid #222;
    box-shadow: none;
}

.line {
    width: 1px;
    min-height: 100%;
    margin-right: 20px;
    margin-left: 20px;
    background-color: #222;
}

.call-us {
    display: flex;
    align-items: center;
    color: #1b1b1b;
    text-decoration: none;
    gap: 10px;
}

.message {
    display: flex;
    align-items: center;
    color: #1b1b1b;
    text-decoration: none;
    gap: 10px;
}


.address {
    display: flex;
    align-items: center;
    color: #1b1b1b;
    text-decoration: none;
    gap: 10px;
}

.contact {
    display: flex;
    width: 100%;
    max-width: 1032px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

}


.icon {
    width: 60px;
    max-height: 60px;
    min-height: 60px;
    min-width: 60px;
    background-color: #f5b754;
    color: #1b1b1b;
    font-size: 21px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #f5b754;
    border-radius: 100%;
}

.icon i {
    width: 100%;
    text-align: center;
}


#bckr-img .rent h1 {
    font-size: 47px;
    color: white;
    position: relative;
    line-height: 1.25em;
    margin-bottom: 0;
}

#bckr-img .rent p {
    font-size: 10px;
    line-height: 10px;
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    color: #f5b754;
    margin-bottom: 15px;
    z-index: 1;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.footer-down {
    border-bottom: 1px solid #222;
    padding: 90px 0 0 0;
}


img {
    width: 130px;
    height: 18px;
    transition: all 0.5s;
}


.logo-text p {
    color: rgba(255, 255, 255, 0.8);
    margin-top: 10px;
    margin-bottom: 20px;
}

.social-icons ul {
    padding-left: 0;
    list-style: none
}


a:hover {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.social-icons li {
    display: inline-block;
    z-index: 1;
    position: relative;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 14px;
    background: transparent;
    color: #fff;
    font-weight: 300;
    margin-right: 5px;
    transition: all 0.5s;
    border: 1px solid #f5b754;
    border-radius: 100%;

}

.social-icons li:hover {
    background: #f5b754;
    color: #1b1b1b;
}

.social-icons li:hover i {
    color: black;
}

.social-icons i {
    color: white;
}


.quick-links {
    padding: 45px 0;
}

.renax {
    padding: 45px 0;
}

h6 {
    color: #fff;
    font-size: 14px;
    margin-bottom: 0px;
    font-weight: 700;
}

p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    margin-bottom: 0px;
}

.quick-links h3 {
    font-size: 21px;
    color: #fff;
    margin-bottom: 15px;
    font-weight: 700;
}

.quick-links ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.quick-links ul li {
    margin-bottom: 5px;
}

.quick-links ul li a {
    color: rgba(255, 255, 255, 0.8);
    position: relative;
    padding-left: 15px;
    text-decoration: none;
    transition: all 0.5s;
}

.quick-links ul li a:hover {
    color: #f5b754;
}

.quick-links ul li a::after {

    width: 6px;
    height: 6px;
    content: "";
    background: #f5b754;
    border-radius: 50%;
    display: block;
    position: absolute;
    left: 0;
    top: 12px;
}

.sub-text h3 {
    font-size: 21px;
    color: #fff;
    margin-bottom: 15px;
    font-weight: 700;
}

.subscribe {
    padding: 45px 0;
}

.sub-text p {
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 20px;
}

.sub-button {
    position: relative;
}

.sub-button input {
    height: 60px;
    width: 100%;
    border: none;
    background: transparent;
    font-size: 14px;
    color: #fff;
    outline: none;
    padding: 0 90px 0 20px;
    border: 1px solid #f5b754;
    border-radius: 30px;
}

.sub-button button {
    height: 50px;
    width: 50px;
    border: none;
    background: #f5b754;
    font-size: 14px;
    font-weight: 700;
    color: #1b1b1b;
    padding: 0px 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 100%;
    line-height: 55px;
    outline: none;
    transform: rotate(-45deg);
    -webkit-transition: all 0.7s linear;
    -o-transition: all 0.7s linear;
    transition: all 0.7s linear;
}

.sub-button:hover button {
    background: #fff;
    color: #1b1b1b;
    outline: none;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.7s linear;
    -o-transition: all 0.7s linear;
    transition: all 0.7s linear;
}

/* footer */


#bckr-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 8;
}

#bckr-img .rent h1 {
    font-size: 47px;
    color: white;
    position: relative;
    line-height: 1.25em;
    margin-bottom: 0;
}

#bckr-img .rent p {
    font-size: 10px;
    line-height: 10px;
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    color: #f5b754;
    margin-bottom: 15px;
    z-index: 1;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.line-section {
    position: relative;
    margin: -25px auto;
    border: 0;
    border-left: 1px solid;
    border-color: #f5b754;
    width: 2px;
    height: 50px;
    z-index: 1111110;
    opacity: 1;
}


#car-details {
    padding: 120px 0;
}


#car-details p {
    margin-bottom: 30px !important;
    font-family: 'Outfit', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.95em;
    color: #999;
}

#car-details h3 {
    color: #fff;
    font-size: 21px;
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    line-height: 1.5em;
    margin: 0 0 15px 0;
}


#car-details .list {
    position: relative;
    display: block;
}

#car-details .list li {
    position: relative;
    display: flex;
    align-items: center;
}

#car-details .list-icon p{
    font-size: 11px;
    color: #f5b754;
    background-color: #222;
    text-align: center;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

#car-details .list-text {
    margin-left: 15px;
}

#car-details .list-text p {
    font-size: 14px;
    margin: 0;
    color: #999;
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    line-height: 1.95em;
}

#car-details .sidebar-page {
    position: relative;
    display: block;
    padding: 0;
    background: #222;
    border-radius: 20px;
    margin-top: -215.5px;
    z-index: 9;
}

#car-details .sidebar-page .title {
    background-color: #f5b754;
    padding: 35px;
    border-radius: 20px 20px 0 0;
    text-align: center;
}

#car-details .sidebar-page .title h4 {
    font-size: 21px;
    line-height: 1.2em;
    color: #1b1b1b;
    margin: 0;
    color: #1b1b1b;
    font-weight: 700;
}

#car-details .sidebar-page .item {
    padding: 40px 30px;
}

#car-details .sidebar-page .item .abouts {
    border-radius: 15px;
    padding: 20px 20px;
    margin-bottom: 10px;
    border: 1px solid rgba(255, 255, 255, 0.03);
    transition: all 0.5s;
}

#car-details .sidebar-page .item .abouts span {
    color: #fff;
    transition: all 0.5s;
    display: inline-block;
    text-decoration: none;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 300;
}

#car-details .sidebar-page .item .abouts span i {
    color: #f5b754;
    margin-right: 15px;
    font-size: 11px;
    transition: all 0.5s;
    transform: rotate(-45deg);
}

#car-details .sidebar-page .item .abouts:hover{
    background-color: #f5b754;
    color: black;
}

#car-details .sidebar-page .item .abouts:hover span{
    color: black;
}

#car-details .sidebar-page .item .abouts:hover i{
    color: black;
}

#car-details .sidebar-page .item .active {
    background: #f5b754;
    color: black;
    transition: all 0.2s linear;
    border-radius: 15px;
}

#car-details .sidebar-page .item .active span i {
    color: black;
}

#car-details .sidebar-page .item .active span {
    color: black;
}

#car-details .accordion-box{
    position: relative;
    padding: 0px;
}

#car-details .accordion-box .item {
    position: relative;
    background: #222;
    overflow: hidden;
    margin-bottom: 15px;
    border-radius: 20px;
}

#car-details .accordion-box .item .acc-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    cursor: pointer;
    padding: 30px;
    padding-right: 60px;
    color: #fff;
    transition: all 500ms ease;
    font-family: 'Outfit', sans-serif;
}

#car-details .accordion-box .item .acc-btn.active {
    background-color: #f5b754;
    color: #1b1b1b;
}

#car-details .accordion-box .item .acc-btn.active:before {
    color: #1b1b1b;
    font-family: "themify";
}

#car-details .item .acc-btn .span {
    color: #f5b754;
    padding-right: 5px;
    font-weight: 700;
    font-family: 'Outfit', sans-serif;
    font-size: 14px;
}

#car-details .accordion-box .item .content {
    display: block;
    position: relative;
    padding: 30px;
    color: #1b1b1b;
    border-radius: 0px 0px 20px 20px;
}


#car-details .accordion-box .item .acc-btn i{
color: #f5b754;
transition: transform 0.3s;
}

#car-details .accordion-box .item .active i {
    color: #1b1b1b;
    transform: rotate(90deg);

}

#car-details .accordion-box .item .content .text {
    display: block;
    position: relative;
    top: 0px;
    color: #999;
}

#car-details .items {
    padding: 35px;
}

#car-details .items .item {
    padding: 8px 0;
    display: grid;
    grid-template-columns: 50% 50%;
}

#car-details .items .item span {
    color: #999;
}

#car-details .items .item  i {
    color: #f5b754;
    margin-right: 10px;
    font-size: 14px;
    background: #333;
    padding: 10px;
    border-radius: 100%;
}

#car-details .items .item p {
    margin-bottom: 0px;
    color: #fff;
    text-align: right;
    font-family: 'Outfit', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.95em;
}

.acc-content{
    display: none;
}


.rentcar .modal-content {
    width: 700px;
    margin-top: 200px;
}

.rentcar label{
color: #999;
margin-left: 20px;
margin-top: 30px;
margin-bottom: 10px;
}

.rentcar .booking-form {
    position: relative;
    background: #1b1b1b;
    padding: 0px 0px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.rentcar textarea {
    max-width: 100%;
    margin-bottom: 15px;
    padding: 18.5px 20px;
    height: auto;
    background-color: #222;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: block;
    width: 100%;
    line-height: 1.5em;
    font-family: 'Outfit', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #999;
    background-image: none;
    border: none;
    border-radius: 30px;
}

.rentcar .booking-button {
    display: block;
    padding: 0;
    border: none;
    margin: 0;
    width: 100%;
    background: #f5b754;
    color: #1b1b1b;
    font-family: 'Outfit', sans-serif;
    font-size: 14px;
    text-decoration: none;
    line-height: 60px;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease-out;
    font-weight: 300;
    border-radius: 30px;
    margin-top: 10px;
}

.rentcar .modal-header {
    background-color: #f5b754;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #f5b754;
}

.rentcar .modal-title {
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    color: #1b1b1b;
    margin-bottom: 0;
    margin: 0 0 15px 0;
}

.rentcar .modal-body {
    position: relative;
    flex: 1 1 auto;
    position: relative;
    background: #1b1b1b;
    padding: 60px 40px;
    margin-bottom: -60px;

}

.rentcar input {
    max-width: 100%;
    margin-bottom: 15px;
    padding: 18.5px 20px;
    height: auto;
    box-shadow: none;
    display: block;
    width: 100%;
    font-family: 'Outfit', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #999;
    border: none;
    border-radius: 30px;
    background: #222;
}

.rentcar input:focus {
    outline: none;
    box-shadow: none;
    background: #222;
}

.rentcar .select-area {
    background: #222;
    padding: 17px;
}

.rentcar select {
    background: #222;
    border: none;
    color: #999;
    font-family: 'Outfit', sans-serif;
    font-size: 14px;
    font-weight: 300;
}

.rentcar .select-area {
    border: none;
    border-radius: 30px;
}

.rentcar .select-area :focus {
    outline: none;
    box-shadow: none;
    background: #222;
}



@media screen and (max-width: 991px) {
    .booking-box {
        margin-bottom: 90px;
        margin-bottom: 0px;
        padding: 35px 20px;
    }
}

.btn-double {
    position: relative;
    text-align: center;
    margin: 10px 0;
    font-family: 'Outfit', sans-serif;
    font-size: 14px;
    font-weight: 300;
}

.btn-double:before {
    content: attr(data-grouptype);
    color: #fff;
    font-weight: 300;
    display: block;
    font-size: 12px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: #333;
    position: absolute;
    left: 50%;
    top: 15px;
    margin-left: -28px;
    line-height: 28px;
    text-align: center
}

.btn-double > a + a {
    margin-left: 0px;
}

.btn-double > a {
    display: inline-block;
    font-size: 14px;
    text-decoration: none;
    transition: color .3s ease;
}

.btn-double > a span {
    font-size: 17px;
    margin-right: 2px;
}

.btn-double > a:nth-of-type(1) {
    background: #f5b754;
    color: #1b1b1b;
    border-radius: 30px 0 0 30px;
    padding: 15px 27px;
}

.btn-double > a:nth-of-type(1):hover {
    background: #fff;
    color: #1b1b1b;
}

.btn-double > a:nth-of-type(2) {
    background: #f5b754;
    color: #1b1b1b;
    border-radius: 0 30px 30px 0;
    padding: 15px 27px;
}

.btn-double > a:nth-of-type(2):hover {
    background: #fff;
    color: #1b1b1b;
}

.image-area{
    margin-bottom: 50px;
    margin-top:50px;
}

.image-area h3 {
    color: #fff;
    font-size: 21px;
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    line-height: 1.5em;
    margin: 0 0 20px 0;
}

.images  {
    position: relative;
    flex-direction: column;
    cursor: pointer;
    isolation: isolate;
}

.image-area .image {
    position: relative;
    display: flex;
    gap: 20px;
    width: 300px !important;
    height: 212px !important;
}

.image-area .image img{
    width: 100%;
    height: 100%;
    transition:all 0.5s;
    border-radius: 20px;
}

.image-area .image img:hover{
    transform: scale(1);
}


textarea:focus {
    outline: none;
    box-shadow: none;
    background: #222;
}