@namespace Final_project.ViewModels

@model HomeVM

@section css {
    <link rel="stylesheet" href="~/assets/css/about.css">

}
<title>RENAX</title>



<header>
    <section id="bckr-img" style="background-image: url('assets/image/bentley.jpg');">
        <div class="container">
            <div class="col-12">
                <div class="rent-area">
                    <div class="rent">
                        <p>Rentax</p>
                        <h1>About Us</h1>
                    </div>
                </div>
            </div>
            <div class="cover"></div>
        </div>
    </section>
    <div class="line-section"></div>
</header>

<main>
    <section id="about-section">
        <div class="container">
            <div class="row">
                @foreach (var item in Model.Abouts)
                 {
                    <div class="col-7">
                        <div class="content">
                            <div class="subtitle">@item.SubTitle</div>
                            <div class="title">@item.Title</div>
                            <p>
                                @item.Description
                            </p>
                            <div class="rentax">
                                <p><i class="fa-solid fa-check ok"></i>Sports and Luxury Cars</p>
                                <p><i class="fa-solid fa-check ok"></i>Economy Cars</p>
                            </div>
                        </div>
                    </div>
                 }
                @foreach (var item in Model.Abouts)
                 {
                    <div class="col-5">
                        <div class="abouts">

                            <div class="about-img">
                                <img src="assets/image/@item.Image" alt="">
                            </div>
                            
                            <div class="about-btn">
                                <a href="https://www.youtube.com/watch?v=1LxcTt1adfY">
                                    <i class="fa-solid fa-play"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                 }
                </div>
        </div>
    </section>
    <section id="rent-now" style="background-image: url('assets/image/explore.jpg');">
        <div class="container">
            <div class="col-12">
                <div class="row">
                    <div class="now-text">
                        <p>EXPLORE</p>
                        <h1>Car Promo Video</h1>
                    </div>
                    <div class="explore">
                        <div class="rent-btn">
                            <a href=""><i class="fa-solid fa-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cover"></div>
        </div>
    </section>
    <section id="abouts">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="subtitle">CERTIFIED TEAM</div>
                    <div class="title">Our Experts Team</div>
                </div>
            </div>
        </div>
    </section>
    <section id="abouts-cart">
        <div class="container">
            <div class="row">
                <div class="owl-carousel">
                    <div class="col-4">
                        <div class="item">
                            <div class="about-cart">
                                <div class="about-img">
                                    <img src="assets/image/team1.jpg" alt="">
                                    <div class="bottom-fade"></div>
                                </div>
                                <div class="about-btn">
                                    <a href="#">1</a>
                                </div>
                                <div class="ser-title">
                                    <h4>Dan Martin</h4>
                                    <h6>Sales Consultant</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="item">
                            <div class="about-cart">
                                <div class="about-img">
                                    <img src="assets/image/team2.jpg" alt="">
                                    <div class="bottom-fade"></div>
                                </div>
                                <div class="about-btn">
                                    <a href="#">2</a>
                                </div>
                                <div class="ser-title">
                                    <h4>Micheal Brown</h4>
                                    <h6>Sales Consultant</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="item">
                            <div class="about-cart">
                                <div class="about-img">
                                    <img src="assets/image/team3.jpg" alt="">
                                    <div class="bottom-fade"></div>
                                </div>
                                <div class="about-btn">
                                    <a href="#">3</a>
                                </div>
                                <div class="ser-title">
                                    <h4>Emily Arla</h4>
                                    <h6>Sales Consultant</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="item">
                            <div class="about-cart">
                                <div class="about-img">
                                    <img src="assets/image/team4.jpg" alt="">
                                    <div class="bottom-fade"></div>
                                </div>
                                <div class="about-btn">
                                    <a href="#">4</a>
                                </div>
                                <div class="ser-title">
                                    <h4>Oliva White</h4>
                                    <h6>Sales Consultant</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="item">
                            <div class="about-cart">
                                <div class="about-img">
                                    <img src="assets/image/team5.jpg" alt="">
                                    <div class="bottom-fade"></div>
                                </div>
                                <div class="about-btn">
                                    <a href="#">5</a>
                                </div>
                                <div class="ser-title">
                                    <h4>Mia Jane</h4>
                                    <h6>Finance Department</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="item">
                            <div class="about-cart">
                                <div class="about-img">
                                    <img src="assets/image/team6.jpg" alt="">
                                    <div class="bottom-fade"></div>
                                </div>
                                <div class="about-btn">
                                    <a href="#">6</a>
                                </div>
                                <div class="ser-title">
                                    <h4>Margaret Nancy</h4>
                                    <h6>Sales Department</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="rent-now" style="background-image: url('assets/image/bentley.jpg');">
        <div class="container">
            <div class="col-12">
                <div class="row">
                    <div class="now-text">
                        <p>RENT YOUR CAR</p>
                        <h3>Interested in Renting?</h3>
                        <h6>Don't hesitate and send us a message.</h6>
                    </div>
                    <div class="rent">
                        <a class="wp-btn" href="https://api.whatsapp.com/">
                            <i class="fa-brands fa-whatsapp"></i> Whatsapp
                        </a>
                        <a class="button" asp-controller="CarListing">
                            Rent Now <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="cover"></div>
        </div>
    </section>
    <section class="clients">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="owl-carousel">
                        <div class="client-logo">
                            <a href="#0"><img src="assets/image/client1.png" alt=""></a>
                        </div>
                        <div class="client-logo">
                            <a href="#0"><img src="assets/image/client2.png" alt=""></a>
                        </div>
                        <div class="client-logo">
                            <a href="#0"><img src="assets/image/client3.png" alt=""></a>
                        </div>
                        <div class="client-logo">
                            <a href="#0"><img src="assets/image/client4.png" alt=""></a>
                        </div>
                        <div class="client-logo">
                            <a href="#0"><img src="assets/image/client5.png" alt=""></a>
                        </div>
                        <div class="client-logo">
                            <a href="#0"><img src="assets/image/client6.png" alt=""></a>
                        </div>
                        <div class="client-logo">
                            <a href="#0"><img src="assets/image/client7.png" alt=""></a>
                        </div>
                        <div class="client-logo">
                            <a href="#0"><img src="assets/image/client8.png" alt=""></a>
                        </div>
                        <div class="client-logo">
                            <a href="#0"><img src="assets/image/client3.png" alt=""></a>
                        </div>
                        <div class="client-logo">
                            <a href="#0"><img src="assets/image/client4.png" alt=""></a>
                        </div>
                        <div class="client-logo">
                            <a href="#0"><img src="assets/image/client5.png" alt=""></a>
                        </div>
                        <div class="client-logo">
                            <a href="#0"><img src="assets/image/client6.png" alt=""></a>
                        </div>
                        <div class="client-logo">
                            <a href="#0"><img src="assets/image/client7.png" alt=""></a>
                        </div>
                        <div class="client-logo">
                            <a href="#0"><img src="assets/image/client8.png" alt=""></a>
                        </div>
                        <div class="client-logo">
                            <a href="#0"><img src="assets/image/client1.png" alt=""></a>
                        </div>
                        <div class="client-logo">
                            <a href="#0"><img src="assets/image/client2.png" alt=""></a>
                        </div>
                        <div class="client-logo">
                            <a href="#0"><img src="assets/image/client3.png" alt=""></a>
                        </div>
                        <div class="client-logo">
                            <a href="#0"><img src="assets/image/client4.png" alt=""></a>
                        </div>
                        <div class="client-logo">
                            <a href="#0"><img src="assets/image/client5.png" alt=""></a>
                        </div>
                        <div class="client-logo">
                            <a href="#0"><img src="assets/image/client6.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>


@section js {
    <script src="~/assets/js/about.js"></script>
}
