@namespace Final_project.ViewModels

@model HomeVM

@section css {
    <link rel="stylesheet" href="~/assets/css/about.css">

}
<title>About</title>



<header>
    <section id="bckr-img" style="background-image: url('assets/image/bentley.jpg');">
        <div class="container">
            <div class="col-12">
                <div class="rent-area">
                    <div class="rent">
                        <p>Rentax</p>
                        <h1>About Us</h1>
                    </div>
                </div>
            </div>
            <div class="cover"></div>
        </div>
    </section>
    <div class="line-section"></div>
</header>

<main>
    <section id="about-section">
        <div class="container">
            <div class="row">
                @foreach (var item in Model.Abouts)
                 {
                    <div class="col-7">
                        <div class="content">
                            <div class="subtitle">@item.SubTitle</div>
                            <div class="title">@item.Title</div>
                            <p>
                                @item.Description
                            </p>
                            <div class="rentax">
                                <p><i class="fa-solid fa-check ok"></i>Sports and Luxury Cars</p>
                                <p><i class="fa-solid fa-check ok"></i>Economy Cars</p>
                            </div>
                        </div>
                    </div>
                 }
                @foreach (var item in Model.Abouts)
                 {
                    <div class="col-5">
                        <div class="abouts">

                            <div class="about-img">
                                <img src="assets/image/@item.Image" alt="">
                            </div>
                            
                            <div class="about-btn">
                                <a href="https://www.youtube.com/watch?v=1LxcTt1adfY">
                                    <i class="fa-solid fa-play"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                 }
                </div>
        </div>
    </section>
    <section id="rent-now" style="background-image: url('assets/image/explore.jpg');">
        <div class="container">
            <div class="col-12">
                <div class="row">
                    <div class="now-text">
                        <p>EXPLORE</p>
                        <h1>Car Promo Video</h1>
                    </div>
                    <div class="explore">
                        <div class="rent-btn">
                            <a href=""><i class="fa-solid fa-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cover"></div>
        </div>
    </section>
    <section id="abouts">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="subtitle">CERTIFIED TEAM</div>
                    <div class="title">Our Experts Team</div>
                </div>
            </div>
        </div>
    </section>
    <section id="abouts-cart">
        <div class="container">
            <div class="row">
                <div class="owl-carousel">
                    <div class="col-4">
                        <div class="item">
                            <div class="about-cart">
                                <div class="about-img">
                                    <img src="assets/image/team1.jpg" alt="">
                                    <div class="bottom-fade"></div>
                                </div>
                                <div class="about-btn">
                                    <a href="#">1</a>
                                </div>
                                <div class="ser-title">
                                    <h4>Dan Martin</h4>
                                    <h6>Sales Consultant</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="item">
                            <div class="about-cart">
                                <div class="about-img">
                                    <img src="assets/image/team2.jpg" alt="">
                                    <div class="bottom-fade"></div>
                                </div>
                                <div class="about-btn">
                                    <a href="#">2</a>
                                </div>
                                <div class="ser-title">
                                    <h4>Micheal Brown</h4>
                                    <h6>Sales Consultant</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="item">
                            <div class="about-cart">
                                <div class="about-img">
                                    <img src="assets/image/team3.jpg" alt="">
                                    <div class="bottom-fade"></div>
                                </div>
                                <div class="about-btn">
                                    <a href="#">3</a>
                                </div>
                                <div class="ser-title">
                                    <h4>Emily Arla</h4>
                                    <h6>Sales Consultant</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="item">
                            <div class="about-cart">
                                <div class="about-img">
                                    <img src="assets/image/team4.jpg" alt="">
                                    <div class="bottom-fade"></div>
                                </div>
                                <div class="about-btn">
                                    <a href="#">4</a>
                                </div>
                                <div class="ser-title">
                                    <h4>Oliva White</h4>
                                    <h6>Sales Consultant</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="item">
                            <div class="about-cart">
                                <div class="about-img">
                                    <img src="assets/image/team5.jpg" alt="">
                                    <div class="bottom-fade"></div>
                                </div>
                                <div class="about-btn">
                                    <a href="#">5</a>
                                </div>
                                <div class="ser-title">
                                    <h4>Mia Jane</h4>
                                    <h6>Finance Department</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="item">
                            <div class="about-cart">
                                <div class="about-img">
                                    <img src="assets/image/team6.jpg" alt="">
                                    <div class="bottom-fade"></div>
                                </div>
                                <div class="about-btn">
                                    <a href="#">6</a>
                                </div>
                                <div class="ser-title">
                                    <h4>Margaret Nancy</h4>
                                    <h6>Sales Department</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="rent-now" style="background-image: url('assets/image/bentley.jpg');">
        <div class="container">
            <div class="col-12">
                <div class="row">
                    <div class="now-text">
                        <p>RENT YOUR CAR</p>
                        <h3>Interested in Renting?</h3>
                        <h6>Don't hesitate and send us a message.</h6>
                    </div>
                    <div class="rent">
                        <a class="wp-btn" href="https://api.whatsapp.com/">
                            <i class="fa-brands fa-whatsapp"></i> Whatsapp
                        </a>
                        <a class="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Rent Now <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                    <div class="modal fade rentcar" id="exampleModal" tabindex="-1"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Booking Form</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="booking-form">
                                        <div class="booking-inner">
                                            <form method="post" action="#0" class="form">
                                                <div class="booking-box">
                                                    <form method="post" action="#0" class="form">
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-12">
                                                                <input name="phone" type="text"
                                                                       placeholder="Phone *" required>
                                                            </div>
                                                            <div class="col-lg-6 col-md-12">
                                                                <div class="selects">
                                                                    <div class="select-area">
                                                                        <select class="select-box"
                                                                                style="width: 100%">
                                                                            <option value="0">Choose Car</option>
                                                                            <option value="1">
                                                                                Lamborghini Urus
                                                                            </option>
                                                                            <option value="2">
                                                                                Aston Martin DBX
                                                                            </option>
                                                                            <option value="3">
                                                                                Bentley Bentayga
                                                                            </option>
                                                                            <option value="4">
                                                                                Bugatti Mistral W16
                                                                            </option>
                                                                            <option value="5">
                                                                                Rolls Royce Cullinan
                                                                            </option>
                                                                            <option value="6">
                                                                                Bentley Continental
                                                                            </option>
                                                                            <option value="7">
                                                                                Audi RS7 Sport
                                                                                Carsback
                                                                            </option>
                                                                            <option value="8">AUDI Q8</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6 col-md-12">
                                                                <div class="selects">
                                                                    <div class="select-area">
                                                                        <select class="select-box"
                                                                                style="width: 100%">
                                                                            <option value="0">
                                                                                Pick Up Location
                                                                            </option>
                                                                            <option value="1">Dubai</option>
                                                                            <option value="2">Abu Dhabi</option>
                                                                            <option value="3">Sharjah</option>
                                                                            <option value="4">Alain</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6 col-md-12">
                                                                <div class="selects">
                                                                    <div class="select-area">
                                                                        <select class="select-box"
                                                                                style="width: 100%">
                                                                            <option value="0">
                                                                                Drop Off Location
                                                                            </option>
                                                                            <option value="1">Alain</option>
                                                                            <option value="2">Sharjah</option>
                                                                            <option value="3">Abu Dhabi</option>
                                                                            <option value="4">Dubai</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6 col-md-12">
                                                                <div class="inputs">
                                                                    <label>Pick Up Date</label>
                                                                    <div class="inputs">
                                                                        <input type="date"
                                                                               placeholder="Pick Up Date" required>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6 col-md-12">
                                                                <div class="inputs">
                                                                    <label>Return Date</label>
                                                                    <div class="inputs">
                                                                        <input type="date"
                                                                               placeholder="Return Date">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-12 col-md-12 form-group">
                                                                <textarea name="message" id="message" cols="30"
                                                                          rows="4"
                                                                          placeholder="Additional Note"></textarea>
                                                            </div>
                                                            <div class="col-lg-12 col-md-12">
                                                                <button type="submit"
                                                                        class="booking-button mt-15">
                                                                    Rent
                                                                    Now
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="alert alert-success contact__msg"
                                                             style="display: none" role="alert">
                                                            Your message was
                                                            sent successfully.
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cover"></div>
        </div>
    </section>
    <section class="clients">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="owl-carousel">
                        <div class="client-logo">
                            <a href="#0"><img src="assets/image/client1.png" alt=""></a>
                        </div>
                        <div class="client-logo">
                            <a href="#0"><img src="assets/image/client2.png" alt=""></a>
                        </div>
                        <div class="client-logo">
                            <a href="#0"><img src="assets/image/client3.png" alt=""></a>
                        </div>
                        <div class="client-logo">
                            <a href="#0"><img src="assets/image/client4.png" alt=""></a>
                        </div>
                        <div class="client-logo">
                            <a href="#0"><img src="assets/image/client5.png" alt=""></a>
                        </div>
                        <div class="client-logo">
                            <a href="#0"><img src="assets/image/client6.png" alt=""></a>
                        </div>
                        <div class="client-logo">
                            <a href="#0"><img src="assets/image/client7.png" alt=""></a>
                        </div>
                        <div class="client-logo">
                            <a href="#0"><img src="assets/image/client8.png" alt=""></a>
                        </div>
                        <div class="client-logo">
                            <a href="#0"><img src="assets/image/client3.png" alt=""></a>
                        </div>
                        <div class="client-logo">
                            <a href="#0"><img src="assets/image/client4.png" alt=""></a>
                        </div>
                        <div class="client-logo">
                            <a href="#0"><img src="assets/image/client5.png" alt=""></a>
                        </div>
                        <div class="client-logo">
                            <a href="#0"><img src="assets/image/client6.png" alt=""></a>
                        </div>
                        <div class="client-logo">
                            <a href="#0"><img src="assets/image/client7.png" alt=""></a>
                        </div>
                        <div class="client-logo">
                            <a href="#0"><img src="assets/image/client8.png" alt=""></a>
                        </div>
                        <div class="client-logo">
                            <a href="#0"><img src="assets/image/client1.png" alt=""></a>
                        </div>
                        <div class="client-logo">
                            <a href="#0"><img src="assets/image/client2.png" alt=""></a>
                        </div>
                        <div class="client-logo">
                            <a href="#0"><img src="assets/image/client3.png" alt=""></a>
                        </div>
                        <div class="client-logo">
                            <a href="#0"><img src="assets/image/client4.png" alt=""></a>
                        </div>
                        <div class="client-logo">
                            <a href="#0"><img src="assets/image/client5.png" alt=""></a>
                        </div>
                        <div class="client-logo">
                            <a href="#0"><img src="assets/image/client6.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>


@section js {
    <script src="~/assets/js/about.js"></script>
}
