@namespace Final_project.ViewModels.Proccess

@model ProcessCreateVM

<div class="container mt-5">
    <form class="form-sample" method="post" asp-action="Create" enctype="multipart/form-data">
        <div class="form-group">

            <input asp-for="Title" class="form-control" placeholder="Title" autocomplete="off"/>
            <span class="text-danger" asp-validation-for="Title"></span>

            <input asp-for="Description" class="form-control" placeholder="Description" autocomplete="off"/>
            <span class="text-danger" asp-validation-for="Description"></span>

            <input asp-for="Number" class="form-control" placeholder="Number" autocomplete="off"/>
            <span class="text-danger" asp-validation-for="Number"></span>

        </div>
        <button type="submit" class="btn btn-primary mr-2">Submit</button>
        <a asp-action="Index" class="btn btn-primary text-white">Back</a>
    </form>
</div>