
@namespace Final_project.ViewModels.Proccess

@model ProccessEditVM

<div class="container mt-5">

    <form class="form-sample" method="post" asp-action="Edit" enctype="multipart/form-data">
        <div class="form-group">
            <input asp-for="Title" type="text" class="form-control" maxlength="50" autocomplete="off"/>
            <span class="text-danger" asp-validation-for="Title"></span>

            <input asp-for="Description" type="text" class="form-control" maxlength="50" autocomplete="off"/>
            <span class="text-danger" asp-validation-for="Description"></span>

            <input asp-for="Number" type="text" class="form-control" maxlength="50" autocomplete="off"/>
            <span class="text-danger" asp-validation-for="Number"></span>
        </div>
        <button type="submit" class="btn btn-primary mr-2">Submit</button>
        <a asp-action="Index" class="btn btn-primary text-white">Back</a>
    </form>
</div>
