@namespace Final_project.ViewModels.Videos

@model VideoCreateVM

<div class="container mt-5">
    <form class="form-sample" method="post" asp-action="Create" enctype="multipart/form-data">
        <div class="form-group">

            <input asp-for="Video" class="form-control" placeholder="Video" />
            <span class="text-danger" asp-validation-for="Video"></span>
        </div>
        <button type="submit" class="btn btn-primary mr-2">Submit</button>
        <a asp-action="Index" class="btn btn-primary text-white">Back</a>
    </form>
</div>